[mariadbd]
# Porta padrão usada pelo MariaDB
port = 3306

# Permite conexões externas (necessário no Docker)
bind-address = 0.0.0.0

# Se o bind-address estiver definido como 127.0.0.1 (localhost), não será possível
# conectar ao servidor MariaDB a partir de outras máquinas, ou até mesmo da mesma máquina
# usando TCP/IP em uma interface diferente da de loopback (127.0.0.1).
