# Ignora tudo por padrão
**

# Permite apenas os arquivos necessários
!conf/
!conf/my.cnf
!conf/init.sql.template

!tools/
!tools/entrypoint.sh

# Garante que Dockerfile e .dockerignore não sejam ignorados
!Dockerfile
!.dockerignore
