# Ignora tudo por padrão
**

# Permite apenas os arquivos necessários para o build
!conf/
!conf/nginx.conf.template

!tools/
!tools/entrypoint.sh

# Garante que Dockerfile e .dockerignore não sejam ignorados
!Dockerfile
!.dockerignore
